@{
    ViewData["Title"] = "Upload de Extrato";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-6">
        <form asp-action="ProcessStatement" asp-controller="Upload" method="post" enctype="multipart/form-data">
            
            <div class="form-group">
                <label for="statementFile">Selecione o arquivo.xlsx do extrato:</label>
                <input type="file" name="statementFile" class="form-control" accept=".xlsx" />
            </div>
            <br />
            <button type="submit" class="btn btn-primary">Enviar Extrato</button>
        </form>
        
        @if (TempData["ErrorMessage"]!= null)
        {
            <div class="alert alert-danger mt-3">@TempData["ErrorMessage"]</div>
        }
    </div>
</div>